# Prep procedure

### Import Modules

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
import datetime
import numpy as np
from sklearn import preprocessing

### Import data

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [3]:
#Import data
path = '/content/drive/My Drive/flights_data/'
#path = '/content/drive/My Drive/PERSO/LIGHTHOUSE LABS/MIDTERM/data/'
df = pd.read_csv(str(path)+"flights_sample_10.csv",low_memory=False)

In [ ]:
print(df.columns)

Index(['Unnamed: 0', 'fl_date', 'mkt_unique_carrier', 'branded_code_share',
       'mkt_carrier', 'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time', 'dep_time',
       'dep_delay', 'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in',
       'crs_arr_time', 'arr_time', 'arr_delay', 'cancelled',
       'cancellation_code', 'diverted', 'dup', 'crs_elapsed_time',
       'actual_elapsed_time', 'air_time', 'flights', 'distance',
       'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay',
       'late_aircraft_delay', 'first_dep_time', 'total_add_gtime',
       'longest_add_gtime', 'no_name'],
      dtype='object')

In [4]:
dfF = df[['fl_date', 'mkt_unique_carrier', 'mkt_carrier',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time','dep_delay',
       'crs_arr_time', 'dup', 'crs_elapsed_time', 'flights', 'distance','arr_delay','carrier_delay', 'weather_delay', 'nas_delay', 'security_delay',
       'late_aircraft_delay','cancelled','cancellation_code','total_add_gtime',
       'longest_add_gtime']].copy()

In [5]:
total = dfF.isnull().sum().sort_values(ascending=False)
percent = (dfF.isnull().sum()/dfF.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data

                       Total   Percent
total_add_gtime      1581485  0.993118
longest_add_gtime    1581484  0.993117
cancellation_code    1565457  0.983053
late_aircraft_delay  1291631  0.811100
security_delay       1291631  0.811100
nas_delay            1291631  0.811100
weather_delay        1291631  0.811100
carrier_delay        1291631  0.811100
arr_delay              31241  0.019618
dep_delay              26581  0.016692
tail_num                5008  0.003145
crs_elapsed_time           6  0.000004
distance                   0  0.000000
origin                     0  0.000000
mkt_unique_carrier         0  0.000000
mkt_carrier                0  0.000000
mkt_carrier_fl_num         0  0.000000
op_unique_carrier          0  0.000000
op_carrier_fl_num          0  0.000000
origin_airport_id          0  0.000000
origin_city_name           0  0.000000
flights                    0  0.000000
dest_airport_id            0  0.000000
dest                       0  0.000000
dest_city_name             0  0.000000
crs_dep_time               0  0.000000
cancelled                  0  0.000000
crs_arr_time               0  0.000000
dup                        0  0.000000
fl_date                    0  0.000000

In [ ]:
dfF[dfF['cancelled']==1].describe()

,mkt_carrier_fl_num,op_carrier_fl_num,origin_airport_id,dest_airport_id,crs_dep_time,dep_delay,crs_arr_time,crs_elapsed_time,flights,distance,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,cancelled,total_add_gtime,longest_add_gtime
count,26987.00000,26987.000000,26987.000000,26987.000000,26987.000000,941.000000,26987.000000,26983.000000,26987.0,26987.000000,0.0,0.0,0.0,0.0,0.0,0.0,26987.0,766.000000,766.000000
mean,3255.40312,3255.740245,12645.343202,12619.918146,1400.706340,52.925611,1546.118502,121.269021,1.0,606.801126,NaN,NaN,NaN,NaN,NaN,NaN,1.0,78.263708,75.429504
std,1836.76809,1837.611854,1472.510888,1465.179061,495.946568,86.217604,525.451462,57.151781,0.0,463.861138,NaN,NaN,NaN,NaN,NaN,NaN,0.0,51.923205,48.406769
min,1.00000,1.000000,10135.000000,10135.000000,1.000000,-24.000000,1.000000,18.000000,1.0,27.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.000000,1.000000
25%,1639.00000,1639.000000,11292.000000,11292.000000,955.000000,-2.000000,1125.000000,82.000000,1.0,282.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.0,35.000000,33.250000
50%,3508.00000,3509.000000,12889.000000,12478.000000,1449.000000,18.000000,1627.000000,106.000000,1.0,477.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.0,68.000000,68.000000
75%,4901.00000,4902.000000,13930.000000,13930.000000,1819.000000,78.000000,1959.000000,145.000000,1.0,792.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.0,113.000000,110.000000
max,7439.00000,9372.000000,16869.000000,16869.000000,2359.000000,705.000000,2359.000000,559.000000,1.0,3801.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.0,302.000000,241.000000

In [6]:
dfF = df[['fl_date', 'mkt_unique_carrier', 'mkt_carrier',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time','dep_delay',
       'crs_arr_time', 'dup', 'crs_elapsed_time', 'flights', 'distance','cancelled','cancellation_code','total_add_gtime',
       'longest_add_gtime']].copy()

# Feature engineering

### Create flight number

In [7]:
dfF['flight_number'] = dfF['mkt_unique_carrier']+dfF['mkt_carrier_fl_num'].astype(str)+dfF['origin']+dfF['dest']

In [8]:
dfF['flight_number'].value_counts()

UA1768IAHTPA    98
NK446LASORD     95
UA778IADMCO     95
HA64LIHLAX      93
UA773DENSMF     93
                ..
WN2687TPADAL     1
WN3358LAXMDW     1
WN4630MCIBNA     1
WN1911STLMDW     1
DL5696SEAGEG     1
Name: flight_number, Length: 280824, dtype: int64

In [9]:
print('Number of different flight_numbers in train set : ' +str(len(dfF['flight_number'].value_counts())))

Number of different flight_numbers in train set : 280824

In [10]:
dfF.flights.describe()

count    1592444.0
mean           1.0
std            0.0
min            1.0
25%            1.0
50%            1.0
75%            1.0
max            1.0
Name: flights, dtype: float64

### Convert fly_date to Month / Day / Day of year / Day of Week / Dep Hour and Arr Hour

In [11]:
dfF.fl_date = pd.to_datetime(dfF.fl_date, format='%Y-%m-%d')
dfF['fl_month'] = pd.DatetimeIndex(dfF.fl_date).month
dfF['fl_day'] = pd.DatetimeIndex(dfF.fl_date).day
dfF['fl_day_of_year'] = dfF.fl_date.dt.dayofyear
dfF['fl_day_of_week'] = dfF.fl_date.dt.dayofweek

dfF['crs_dep_time'] = dfF['crs_dep_time'].apply(lambda x: '{0:0>4}'.format(x))
dfF['crs_arr_time'] = dfF['crs_arr_time'].apply(lambda x: '{0:0>4}'.format(x))

dfF['dep_hour'] = dfF['crs_dep_time'].str[:2]
dfF['arr_hour'] = dfF['crs_arr_time'].str[:2]

### Create short, med, long haul duration type

In [12]:
# duration type (eg short, med, long haul)
bins = [-100, 180, 360, 2000]
labels = [1,2,3]
dfF['duration_type'] = pd.cut(dfF['crs_elapsed_time'], bins=bins, labels=labels)

In [13]:
#dfF

## Day section

In [14]:
hour_to_daysection = {'00': 0,
                      '01': 0,
                      '02': 0,
                      '03': 0,
                      '04': 0,
                      '05': 0,
                      '06': 1,
                      '07': 1,
                      '08': 1,
                      '09': 1,
                      '10': 1,
                      '11': 2,
                      '12': 2,
                      '13': 2,
                      '14': 2,
                      '15': 2,
                      '16': 2,
                      '17': 3,
                      '18': 3,
                      '19': 3,
                      '20': 4,
                      '21': 4,
                      '22': 4,
                      '23': 4,
                      '24': 4}

# Night = 0, Morning rush = 1, Midday = 2, Afternoon rush = 3, Evening = 4

dfF['dep_daysection'] = dfF['dep_hour'].map(hour_to_daysection)

dfF['arr_daysection'] = dfF['arr_hour'].map(hour_to_daysection)

## Season

In [15]:
month_to_season = {1: 1, 2: 1, 3: 2, 4: 2, 5: 2, 6: 3, 7: 3, 8: 3, 9: 4, 10: 4, 11: 4, 12: 1}
dfF['fl_season'] = dfF['fl_month'].map(month_to_season)

In [16]:
#dfF

## Origin and Destination State

In [17]:
dfF['origin_state'] = dfF['origin_city_name'].str[-2:]
dfF['dest_state'] = dfF['dest_city_name'].str[-2:]

In [18]:
#dfF

# Aggregate statistics values

## Carrier Volume

In [19]:
# total volume at origin and dest airport
dfF['origin_airport_vol'] = dfF.groupby(['origin_airport_id'])['flights'].transform(np.sum)
dfF['dest_airport_vol'] = dfF.groupby(['dest_airport_id'])['flights'].transform(np.sum)

# how much the airline operates out of that airport
dfF['carrier_origin_apt_vol'] = dfF.groupby(['origin_airport_id','op_unique_carrier'])['flights'].transform(np.sum)
dfF['carrier_dest_apt_vol'] = dfF.groupby(['dest_airport_id','op_unique_carrier'])['flights'].transform(np.sum)

# how much the airline operates out of that airport as pct
dfF['carrier_origin_apt_pct'] = dfF['carrier_origin_apt_vol'] / dfF['origin_airport_vol'] * 100
dfF['carrier_dest_apt_pct'] = dfF['carrier_dest_apt_vol'] / dfF['dest_airport_vol'] * 100

## Cancellation Percentage by Carrier

In [20]:
dfF['carrier_cx_pct'] = dfF.groupby(['op_unique_carrier'])['cancelled'].transform(np.sum) / dfF.groupby(['op_unique_carrier'])['flights'].transform(np.sum) * 100

## Cancellation Percentage by Date/time

In [21]:
times = ['fl_month','dep_hour','dep_daysection','fl_day_of_week','fl_season']
for time in times:
  dfF[time+'_cx_pct'] = dfF.groupby([time])['cancelled'].transform(np.sum) / dfF.groupby([time])['flights'].transform(np.sum) * 100

## Cancellation by location/route

In [22]:
dfF['origin_cancellation_pct'] = dfF.groupby(['origin'])['cancelled'].transform(np.sum) / dfF.groupby(['origin'])['flights'].transform(np.sum) * 100
dfF['dest_cancellation_pct'] = dfF.groupby(['dest'])['cancelled'].transform(np.sum) / dfF.groupby(['dest'])['flights'].transform(np.sum) * 100
dfF['route_cancellation_pct'] = dfF.groupby(['origin','dest'])['cancelled'].transform(np.sum) / dfF.groupby(['origin','dest'])['flights'].transform(np.sum) * 100
dfF['origin_month_cancellation_pct'] = dfF.groupby(['origin','fl_month'])['cancelled'].transform(np.sum) / dfF.groupby(['origin','fl_month'])['flights'].transform(np.sum) * 100
dfF['dest_month_cancellation_pct'] = dfF.groupby(['dest','fl_month'])['cancelled'].transform(np.sum) / dfF.groupby(['dest','fl_month'])['flights'].transform(np.sum) * 100
dfF['route_month_cancellation_pct'] = dfF.groupby(['origin','dest','fl_month'])['cancelled'].transform(np.sum) / dfF.groupby(['origin','dest','fl_month'])['flights'].transform(np.sum) * 100

# Columns dropping stars here
## Convert categorical data

### Get dummies

In [23]:
#Get dummies
#df_dummy = pd.get_dummies(dfF[["op_unique_carrier"]])
#df_dummy.shape
# Merge into DF
#dfF = pd.concat([dfF,df_dummy],axis=1).drop(["op_unique_carrier",'op_unique_carrier_9E'],axis=1)

#Get dummies
#df_dummy = pd.get_dummies(dfFT[["op_unique_carrier"]])
#df_dummy.shape
# Merge into DF
#dfFT = pd.concat([dfFT,df_dummy],axis=1).drop(["op_unique_carrier",'op_unique_carrier_9E'],axis=1)

### Drop columns

In [24]:
list(dfF.columns)

['fl_date',
 'mkt_unique_carrier',
 'mkt_carrier',
 'mkt_carrier_fl_num',
 'op_unique_carrier',
 'tail_num',
 'op_carrier_fl_num',
 'origin_airport_id',
 'origin',
 'origin_city_name',
 'dest_airport_id',
 'dest',
 'dest_city_name',
 'crs_dep_time',
 'dep_delay',
 'crs_arr_time',
 'dup',
 'crs_elapsed_time',
 'flights',
 'distance',
 'cancelled',
 'cancellation_code',
 'total_add_gtime',
 'longest_add_gtime',
 'flight_number',
 'fl_month',
 'fl_day',
 'fl_day_of_year',
 'fl_day_of_week',
 'dep_hour',
 'arr_hour',
 'duration_type',
 'dep_daysection',
 'arr_daysection',
 'fl_season',
 'origin_state',
 'dest_state',
 'origin_airport_vol',
 'dest_airport_vol',
 'carrier_origin_apt_vol',
 'carrier_dest_apt_vol',
 'carrier_origin_apt_pct',
 'carrier_dest_apt_pct',
 'carrier_cx_pct',
 'fl_month_cx_pct',
 'dep_hour_cx_pct',
 'dep_daysection_cx_pct',
 'fl_day_of_week_cx_pct',
 'fl_season_cx_pct',
 'origin_cancellation_pct',
 'dest_cancellation_pct',
 'route_cancellation_pct',
 'origin_month_cancellation_pct',
 'dest_month_cancellation_pct',
 'route_month_cancellation_pct']

In [25]:
dfF1 = dfF
dfF1

,fl_date,mkt_unique_carrier,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_delay,crs_arr_time,dup,crs_elapsed_time,flights,distance,cancelled,cancellation_code,total_add_gtime,longest_add_gtime,flight_number,fl_month,fl_day,fl_day_of_year,fl_day_of_week,dep_hour,arr_hour,duration_type,dep_daysection,arr_daysection,fl_season,origin_state,dest_state,origin_airport_vol,dest_airport_vol,carrier_origin_apt_vol,carrier_dest_apt_vol,carrier_origin_apt_pct,carrier_dest_apt_pct,carrier_cx_pct,fl_month_cx_pct,dep_hour_cx_pct,dep_daysection_cx_pct,fl_day_of_week_cx_pct,fl_season_cx_pct,origin_cancellation_pct,dest_cancellation_pct,route_cancellation_pct,origin_month_cancellation_pct,dest_month_cancellation_pct,route_month_cancellation_pct
0,2018-05-29,DL,DL,551,DL,N945DL,551,10397,ATL,"Atlanta, GA",11995,GSO,"Greensboro/High Point, NC",2331,31.0,0039,N,68.0,1,306,0,NaN,NaN,NaN,DL551ATLGSO,5,29,149,1,23,00,1,4,0,2,GA,NC,78303,3569,48800,521,62.322006,14.597927,0.195112,1.688343,1.028844,1.983256,1.815103,1.957785,0.509559,2.661810,0.186567,0.380673,3.448276,0.000000
1,2018-05-29,DL,DL,565,DL,N918DH,565,14100,PHL,"Philadelphia, PA",11433,DTW,"Detroit, MI",0600,-6.0,0737,N,97.0,1,453,0,NaN,NaN,NaN,DL565PHLDTW,5,29,149,1,06,07,1,1,1,2,PA,MI,31102,34914,1290,11442,4.147643,32.771954,0.195112,1.688343,1.566918,1.421067,1.815103,1.957785,2.890489,0.942315,2.060440,2.703677,0.507786,0.000000
2,2018-05-29,DL,DL,658,DL,N990DL,658,10397,ATL,"Atlanta, GA",12448,JAN,"Jackson/Vicksburg, MS",1950,26.0,2010,N,80.0,1,341,0,NaN,NaN,NaN,DL658ATLJAN,5,29,149,1,19,20,1,3,4,2,GA,MS,78303,1627,48800,460,62.322006,28.272895,0.195112,1.688343,2.208482,2.205346,1.815103,1.957785,0.509559,1.905347,0.204082,0.380673,3.007519,0.000000
3,2018-05-29,DL,DL,678,DL,N365NB,678,11996,GSP,"Greer, SC",11433,DTW,"Detroit, MI",0600,-5.0,0750,N,110.0,1,508,0,NaN,NaN,NaN,DL678GSPDTW,5,29,149,1,06,07,1,1,1,2,SC,MI,3485,34914,604,11442,17.331420,32.771954,0.195112,1.688343,1.566918,1.421067,1.815103,1.957785,2.123386,0.942315,0.478469,2.140673,0.507786,0.000000
4,2018-05-29,DL,DL,724,DL,N819DN,724,14869,SLC,"Salt Lake City, UT",10849,BZN,"Bozeman, MT",2220,41.0,2333,N,73.0,1,347,0,NaN,NaN,NaN,DL724SLCBZN,5,29,149,1,22,23,1,4,4,2,UT,MT,23865,1619,9070,316,38.005447,19.518221,0.195112,1.688343,1.921364,1.983256,1.815103,1.957785,0.351980,0.679432,0.000000,0.339971,0.917431,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1592439,2018-05-29,DL,DL,458,DL,N175DZ,458,12478,JFK,"New York, NY",12892,LAX,"Los Angeles, CA",1355,-3.0,1701,N,366.0,1,2475,0,NaN,NaN,NaN,DL458JFKLAX,5,29,149,1,13,17,3,2,3,2,NY,CA,25875,49948,6258,7002,24.185507,14.018579,0.195112,1.688343,1.527128,1.594470,1.815103,1.957785,1.685024,1.013054,0.658659,1.115760,1.187980,0.456621
1592440,2018-05-29,DL,DL,460,DL,N831MH,460,12478,JFK,"New York, NY",12892,LAX,"Los Angeles, CA",1819,-3.0,2135,N,376.0,1,2475,0,NaN,NaN,NaN,DL460JFKLAX,5,29,149,1,18,21,3,3,4,2,NY,CA,25875,49948,6258,7002,24.185507,14.018579,0.195112,1.688343,2.364007,2.205346,1.815103,1.957785,1.685024,1.013054,0.658659,1.115760,1.187980,0.456621
1592441,2018-05-29,DL,DL,465,DL,N3773D,465,14869,SLC,"Salt Lake City, UT",13495,MSY,"New Orleans, LA",1359,-6.0,1823,N,204.0,1,1428,0,NaN,NaN,NaN,DL465SLCMSY,5,29,149,1,13,18,2,2,3,2,UT,LA,23865,11424,9070,1523,38.005447,13.331583,0.195112,1.688343,1.527128,1.594470,1.815103,1.957785,0.351980,1.242997,0.000000,0.339971,1.624365,0.000000
1592442,2018-05-29,DL,DL,470,DL,N822DX,470,10397,ATL,"Atlanta, GA",12478,JFK,"New York, NY",1340,16.0,1601,N,141.0,1,760,0,NaN,NaN,NaN,DL470ATLJFK,5,29,149,1,13,16,1,2,2,2,GA,NY,78303,25524,48800,6202,62.322006,24.298699,0.195112,1.688343,1.527128,1.594470,1.815103,1.957785,0.509559,1.939351,0.921659,0.380673,0.895804,0.000000
1592443,2018-05-29,DL,DL,496,DL,N854DN,496,13487,MSP,"Minneapolis, MN",14107,PHX,"Phoenix, AZ",1140,-4.0,1303,N,203.0,1,1276,0,NaN,NaN,NaN,DL496MSPPHX,5,29,149,1,11,13,2,2,2,2,MN,AZ,32728,35779,13578,1685,41.487411,4.709466,0.195112,1.688343,1.247075,1.594470,1.815103,1.957785,0.922757,1.120769,0.608273,0.326560,1.570331,0.000000

In [26]:
dfF1 = dfF1.select_dtypes('number').dropna(axis='columns')

In [ ]:
dfF1

,mkt_carrier_fl_num,op_carrier_fl_num,origin_airport_id,dest_airport_id,flights,distance,cancelled,fl_month,fl_day,fl_day_of_year,fl_day_of_week,dep_daysection,arr_daysection,fl_season,origin_airport_vol,dest_airport_vol,carrier_origin_apt_vol,carrier_dest_apt_vol,carrier_origin_apt_pct,carrier_dest_apt_pct,carrier_cx_pct,fl_month_cx_pct,dep_hour_cx_pct,dep_daysection_cx_pct,fl_day_of_week_cx_pct,fl_season_cx_pct,origin_cancellation_pct,dest_cancellation_pct,route_cancellation_pct,origin_month_cancellation_pct,dest_month_cancellation_pct,route_month_cancellation_pct
0,551,551,10397,11995,1,306,0,5,29,149,1,4,0,2,78303,3569,48800,521,62.322006,14.597927,0.195112,1.688343,1.028844,1.983256,1.815103,1.957785,0.509559,2.661810,0.186567,0.380673,3.448276,0.000000
1,565,565,14100,11433,1,453,0,5,29,149,1,1,1,2,31102,34914,1290,11442,4.147643,32.771954,0.195112,1.688343,1.566918,1.421067,1.815103,1.957785,2.890489,0.942315,2.060440,2.703677,0.507786,0.000000
2,658,658,10397,12448,1,341,0,5,29,149,1,3,4,2,78303,1627,48800,460,62.322006,28.272895,0.195112,1.688343,2.208482,2.205346,1.815103,1.957785,0.509559,1.905347,0.204082,0.380673,3.007519,0.000000
3,678,678,11996,11433,1,508,0,5,29,149,1,1,1,2,3485,34914,604,11442,17.331420,32.771954,0.195112,1.688343,1.566918,1.421067,1.815103,1.957785,2.123386,0.942315,0.478469,2.140673,0.507786,0.000000
4,724,724,14869,10849,1,347,0,5,29,149,1,4,4,2,23865,1619,9070,316,38.005447,19.518221,0.195112,1.688343,1.921364,1.983256,1.815103,1.957785,0.351980,0.679432,0.000000,0.339971,0.917431,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1592439,458,458,12478,12892,1,2475,0,5,29,149,1,2,3,2,25875,49948,6258,7002,24.185507,14.018579,0.195112,1.688343,1.527128,1.594470,1.815103,1.957785,1.685024,1.013054,0.658659,1.115760,1.187980,0.456621
1592440,460,460,12478,12892,1,2475,0,5,29,149,1,3,4,2,25875,49948,6258,7002,24.185507,14.018579,0.195112,1.688343,2.364007,2.205346,1.815103,1.957785,1.685024,1.013054,0.658659,1.115760,1.187980,0.456621
1592441,465,465,14869,13495,1,1428,0,5,29,149,1,2,3,2,23865,11424,9070,1523,38.005447,13.331583,0.195112,1.688343,1.527128,1.594470,1.815103,1.957785,0.351980,1.242997,0.000000,0.339971,1.624365,0.000000
1592442,470,470,10397,12478,1,760,0,5,29,149,1,2,2,2,78303,25524,48800,6202,62.322006,24.298699,0.195112,1.688343,1.527128,1.594470,1.815103,1.957785,0.509559,1.939351,0.921659,0.380673,0.895804,0.000000
1592443,496,496,13487,14107,1,1276,0,5,29,149,1,2,2,2,32728,35779,13578,1685,41.487411,4.709466,0.195112,1.688343,1.247075,1.594470,1.815103,1.957785,0.922757,1.120769,0.608273,0.326560,1.570331,0.000000

## Deal with Naans

In [ ]:
total = dfF1.isnull().sum().sort_values(ascending=False)
percent = (dfF1.isnull().sum()/dfF1.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data[missing_data['Total'] > 0]

Empty DataFrame
Columns: [Total, Percent]
Index: []

In [ ]:
# Remove Nans
dfF1 = dfF1[dfF1['delay_type'].notnull()]
dfF1 = dfF1[dfF1['duration_type'].notnull()]
# dfF1 = dfF1[dfF1['crs_elapsed_time'].notnull()]

In [ ]:
# Keep numerical data only
dfF1 = dfF1.select_dtypes('number')
# Remove Columns with Nans
dfF1 = dfF1.select_dtypes('number').dropna(axis='columns')

#50/50 Sampling

In [27]:
# grabs all the canceled flights
dfC = dfF1[dfF1.cancelled == 1 ]
# grabs as many other flights from the rest of the database
dfNC = dfF1[dfF1.cancelled == 0 ]
dfNC = dfNC.sample(n=26987, random_state=1)
# Concatenate canceled and not canceled flights and shuffle finale dataframe
df5050 = pd.concat([dfC,dfNC])
from sklearn.utils import shuffle
df5050 = shuffle(df5050)

# Feature Selection

In [28]:
y = df5050.cancelled
df_numeric = df5050.drop(["cancelled"],axis=1)


from sklearn.feature_selection import VarianceThreshold
# remove features with small variance
vt = VarianceThreshold(0.1)
df_transformed = vt.fit_transform(df_numeric)
selected_columns = df_numeric.columns[vt.get_support()]
# transforming an array back to a data-frame preserves column labels
df_transformed = pd.DataFrame(df_transformed, columns = selected_columns)

In [29]:
# remove highly correlated pairs
df_corr = df_transformed.corr().abs()
indices = np.where(df_corr > 0.9)
indices = [(df_corr.index[x], df_corr.columns[y]) for x, y in zip(*indices)
              if x != y and x < y]
for idx in indices:
    try:
        df_transformed.drop(idx[1], axis = 1, inplace=True)
    except KeyError:
        pass

In [30]:
# forward regression
from sklearn.feature_selection import f_regression, SelectKBest
skb = SelectKBest(f_regression, k=15)
X = skb.fit_transform(df_transformed, y)
X = pd.DataFrame(X,columns=df_transformed.columns[skb.get_support()])
X.columns

Index(['mkt_carrier_fl_num', 'distance', 'fl_month', 'carrier_origin_apt_vol',
       'carrier_dest_apt_vol', 'carrier_cx_pct', 'fl_month_cx_pct',
       'dep_hour_cx_pct', 'fl_season_cx_pct', 'origin_cancellation_pct',
       'dest_cancellation_pct', 'route_cancellation_pct',
       'origin_month_cancellation_pct', 'dest_month_cancellation_pct',
       'route_month_cancellation_pct'],
      dtype='object')

In [ ]:
#X = X.drop('dep_delay',axis=1)

# Modelling

In [ ]:
# Find 50 features

In [ ]:
# Assign X and y
#X = dfF1.drop('delay_type',axis=1)
#y = dfF1['delay_type']

In [31]:
# Data test train Split

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.80,random_state=1,stratify=y)

In [ ]:
X_train.columns

Index(['mkt_carrier_fl_num', 'distance', 'fl_month', 'carrier_origin_apt_vol',
       'carrier_dest_apt_vol', 'carrier_cx_pct', 'fl_month_cx_pct',
       'dep_hour_cx_pct', 'fl_season_cx_pct', 'origin_cancellation_pct',
       'dest_cancellation_pct', 'route_cancellation_pct',
       'origin_month_cancellation_pct', 'dest_month_cancellation_pct',
       'route_month_cancellation_pct'],
      dtype='object')

## RandomForestClassifier

In [32]:
from sklearn.ensemble import RandomForestClassifier

regr = RandomForestClassifier(n_estimators=50, max_depth=10, random_state=0)
regr.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=10, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=50,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [33]:
y_pred=regr.predict(X_test)
y_pred

array([1, 1, 1, ..., 1, 1, 1])

In [34]:
#Accuracy Score
regr.score(X_test, y_pred)

from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

#Classification Report
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

#Confusion Matrix
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, y_pred))

0.8293654469661881
              precision    recall  f1-score   support

           0       0.93      0.71      0.81      5397
           1       0.77      0.95      0.85      5398

    accuracy                           0.83     10795
   macro avg       0.85      0.83      0.83     10795
weighted avg       0.85      0.83      0.83     10795

[[3842 1555]
 [ 287 5111]]

In [35]:
pd.Series(y_pred).describe()

count    10795.000000
mean         0.617508
std          0.486018
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          1.000000
dtype: float64

## Naive Bayes

In [ ]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()

In [ ]:
#train model
clf.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
y_pred = clf.predict(X_test)

In [ ]:
#Accuracy Score
regr.score(X_test, y_pred)

from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

#Classification Report
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

#Confusion Matrix
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, y_pred))

0.7046780917091245
              precision    recall  f1-score   support

           0       0.65      0.87      0.75      5397
           1       0.80      0.54      0.65      5398

    accuracy                           0.70     10795
   macro avg       0.73      0.70      0.70     10795
weighted avg       0.73      0.70      0.70     10795

[[4683  714]
 [2474 2924]]

##XGBOOST

In [ ]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error

data_dmatrix = xgb.DMatrix(data=X.astype(int),label=y.astype(int))

In [ ]:
#create train/test split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X.astype(int), y.astype(int), test_size=0.2, random_state=123)

In [ ]:
xg_reg = xgb.XGBRegressor(objective ='reg:squarederror', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 20)

In [ ]:
xg_reg.fit(X_train,y_train)

y_preds = xg_reg.predict(X_test)

In [ ]:
rmse = np.sqrt(mean_squared_error(y_test, y_preds))
print("RMSE: %f" % (rmse))

RMSE: 0.379206

In [ ]:
#Accuracy Score
regr.score(X_test, y_pred)

from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

#Classification Report
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

#Confusion Matrix
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, y_pred))

0.5043075497915702
              precision    recall  f1-score   support

           0       0.50      0.67      0.57      5360
           1       0.51      0.34      0.41      5435

    accuracy                           0.50     10795
   macro avg       0.51      0.51      0.49     10795
weighted avg       0.51      0.50      0.49     10795

[[3583 1777]
 [3574 1861]]

# Dealing with Ram

In [ ]:

import sys

# These are the usual ipython objects, including this one you are creating
ipython_vars = ['In', 'Out', 'exit', 'quit', 'get_ipython', 'ipython_vars']

# Get a sorted list of the objects and their sizes
sorted([(x, sys.getsizeof(globals().get(x))) for x in dir() if not x.startswith('_') and x not in sys.modules and x not in ipython_vars], key=lambda x: x[1], reverse=True)

#say a data frame is taking up a lot and it happens to be one you don't need anymore you can do:
#del df

[('dfF', 2602606480),
 ('df', 1542050435),
 ('dfFT', 1007882019),
 ('df_test', 507999370),
 ('dfF1', 216740560),
 ('X', 204255024),
 ('ohe_df', 140135216),
 ('transformed', 140135184),
 ('X_train', 129849528),
 ('dfFT1', 111647668),
 ('y', 66914128),
 ('X_test', 32462472),
 ('y_train', 19976864),
 ('df_dummy', 16514044),
 ('y_test', 4994240),
 ('y_pred', 2497208),
 ('airports', 3072),
 ('RandomForestRegressor', 2008),
 ('missing_data', 1369),
 ('percent', 1265),
 ('total', 1265),
 ('LabelBinarizer', 1192),
 ('OneHotEncoder', 1192),
 ('hour_to_daysection', 1176),
 ('LabelEncoder', 1064),
 ('MultiColumnLabelEncoder', 1064),
 ('Pipeline', 1064),
 ('fruit_data', 672),
 ('month_to_season', 640),
 ('defaultdict', 416),
 ('mean_absolute_error', 136),
 ('mean_squared_error', 136),
 ('r2_score', 136),
 ('train_test_split', 136),
 ('delaytypes', 96),
 ('bins', 88),
 ('labels', 80),
 ('np', 72),
 ('pd', 72),
 ('preprocessing', 72),
 ('c', 69),
 ('delay', 68),
 ('path', 63),
 ('carrier_encoder', 48),
 ('carrier_le', 48),
 ('city_le', 48),
 ('enc', 48),
 ('le', 48),
 ('regr', 48)]

In [ ]:
del dfF_encodertest
del dfF_encoded
del df_test
del dfF1