testpad

In [11]:
import pandas as pd
import numpy as np

In [20]:
df = pd.DataFrame({'flight_number': ['A','A','B','B','C','C','D','D','E',],
                   'dep_delay': [-10,-2,-3,-5,-6,56,34,23,12],
                   'airtime': [61,62,63,64,65,45,35,36,24]})

In [21]:
df

  flight_number  dep_delay  airtime
0             A        -10       61
1             A         -2       62
2             B         -3       63
3             B         -5       64
4             C         -6       65
5             C         56       45
6             D         34       35
7             D         23       36
8             E         12       24

TypeError: Must provide 'func' or tuples of '(column, aggfunc).

In [23]:
df.assign(
 result1 = np.where(df['key2']=='one',df.data1,0),
 result2 = np.where(df['key2']=='two',df.data1,0)
  ).groupby('flight_number').agg({'result1':sum, 'result2':sum})

KeyError: 'key2'

In [12]:

# df = pd.DataFrame({'key1' : ['a','a','b','b','a'],
#                'key2' : ['one', 'two', 'one', 'two', 'one'],
#                'data1' : np.random.randn(5),
#                'data2' : np. random.randn(5)})

In [25]:
df.assign(
 on_time_air_time_mean = np.where(df['dep_delay'] <=0 ,df.airtime,0),
 delayed_air_time_mean = np.where(df['dep_delay'] > 0,df.airtime,0)
  ).groupby('flight_number').agg({'on_time_air_time_mean':sum, 'delayed_air_time_mean':sum})

               on_time_air_time_mean  delayed_air_time_mean
flight_number
A                                123                      0
B                                127                      0
C                                 65                     45
D                                  0                     71
E                                  0                     24